body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

p,
h2 {
	color: #ffffff;

}

.center {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.listening {
	border-top: 7px solid red !important;
}

.wrapper {
	border-top: 7px solid black;
	background-color: black;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	transition: all .5s ease;
}